body {
  font-family: sans-serif;
}

.todolist {
  width: 65%;
  height: auto;
  margin-top: 80px;
  padding-bottom: 50px;
  background-color: rgb(213, 214, 219);
  border-radius: 10px;
 
}

.item-todo {
  width: 72%;
  margin: 0 auto;
}

form {
  width: 60%;
}


@media screen and (max-width: 783px) {
  .todolist {
    width: 85%
  }
}

